@import 'variables';
@import './components/header';

*{
    font-family: $montserrat;

    // Social networks
    .social{
        width: 100%;
        height: auto;
        padding: 8px 0;
        background-color: $blue;
    
        &_container{
            height: 100%;
            display: flex;
            justify-content: space-between;
        
            .email{
                display: flex;
                height: 100%;
                align-items: center;
                color: $white;
                font-family: $montserrat;
                font-size: 1em;
    
                p{
                    margin: 0 .6rem;
                }
            }
    
            .social_icon{
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: $white;
                font-size: 1em;
                height: 100%;
            }
        
        }

        // Mediaqueries
        @media (max-width: 576px) { 
            &_container{
                justify-content: center;
                .email{
                    display: none;
                }
                .social_icon{
                    width: 20%;
                    justify-content: space-between;
                    font-size: 1.2em;
                }
            }
        }
    }

    // carousel
    .img_container{
        width: 100%;
        height: 500px;
        position: relative;
        .principal_img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            overflow: hidden;
        }
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.1);
        }
       
    }

    // =============== main
    .main{
        text-align: center;
        padding-top: 3rem;

        .about_title{
            // margin: 2rem 0;
            font-weight: 500;
            font-size: 1.5em;
            line-height: 1.5;
        }

        // =================  About
        .about_container{
            margin-bottom: 3rem;
            .about_container-image{
                display: flex;
                justify-content: center;
                .about_img-container{
                    width: 200px;
                    height: 400px;
                }
            }
    
            .about_text-container{
                font-size: .8em;
                text-align: justify;
    
                p{
                    margin-bottom: .6rem;
                }
    
                .about_contact-container{
                    display: flex;
                    justify-content: end;
                    .about_contact{
                        margin-top: 1.5rem;
                    }
                }
            }
        }
    
    }
}



