@import 'variables';
@import './components/header';

*{
    font-family: $montserrat;

    // Social networks
    .social{
        width: 100%;
        height: auto;
        padding: 8px 0;
        background-color: $blue;
    
        &_container{
            height: 100%;
            display: flex;
            justify-content: space-between;
        
            .email{
                display: flex;
                height: 100%;
                align-items: center;
                color: $white;
                font-family: $montserrat;
                font-size: 1em;
    
                p{
                    margin: 0 .6rem;
                }
            }
    
            .social_icon{
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: $white;
                font-size: 1em;
                height: 100%;
            }
        
        }

        // Mediaqueries
        @media (max-width: 576px) { 
            &_container{
                justify-content: center;
                .email{
                    display: none;
                }
                .social_icon{
                    // width: 20%;
                    justify-content: space-between;
                    font-size: 1.2em;
                }
            }
        }
    }

    // carousel
    .img_container{
        width: 100%;
        height: 500px;
        position: relative;
        .principal_img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            overflow: hidden;
        }
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.1);
        }
       
    }

    // =========================== About, Services
    .main{
        text-align: center;

        // About
        .bg_about{
            padding: 3rem 0;
            background: #F6F9FE;
        

            .about_title{
                margin-bottom:2rem;
                font-weight: 500;
                font-size: 1.5em;
                line-height: 1.5;
            }
            
            // =================  About

            .about_container{
                margin-bottom: 3rem;
                
                .about_container-image{
                    display: flex;
                    justify-content: center;

                    .about_img-container{
                        width: 300px;
                        // height: 400px;
                    }
                }
        
                .about_text-container{
                    font-size: .8em;
                    text-align: justify;
        
                    p{
                        line-height: 20px;
                        // margin-bottom: .6rem;
                    }
        
                    .about_contact-container{
                        display: flex;
                        justify-content: end;
                        .about_contact-button{
                            margin-top: 1.5rem;
                            font-size: 1.2em;
                        }
                    }
                }
            }

             // Mediaqueries
             @media (max-width: 768px){
                .about_container-image{
                    margin-bottom: 2rem;
                }
            }
        }
        
        // Services
        .services_container{
            padding: 3rem 0;

            .title_container-service{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 2rem;
            }

            @media (max-width: 520px){
                .title_container-service span{
                    font-size: .9em;
                }
            }
        }
    
    }

    .cta{
        background: url('../assets/img/cta-img.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 170px;
        margin: 2rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        h5{
            font-size: 1.2em;
            color: #fff;
            font-weight: 600;
            z-index: 1;
            margin-bottom: 1rem;
        }
        img{
            height: 40px;
            z-index: 1;
        }
    }
    .cta::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.3);
    }
}



