@import 'variables';

.nav_bg{
    background: $dark;
    z-index: 10;
    height: 60px;

    .logo{
        width: 120px;
    }
    .hamburger{
        color: $white;
    }
    .nav-link{
        color: $white !important;
        font-size: 1em;
    }

}

